.tree__node {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 14px;
}

.tree__content {
  height: 32px;
  display: flex;
  align-items: center;
  color: #606266;
  padding-left: 12px;
  box-sizing: border-box;
  padding: 8px 0;
}

.tree__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  transition: transform 0.3s;
}

.tree__label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.isActive {
  color: #409eff
}

.tree__icon--rotate {
  transform: rotate(90deg);
}

.tree__content:hover {
  background-color: #f5f5f5;
}

.tree__children {
  overflow: hidden;
  will-change: height;
}

/* 展开/收起动画 */
.expand-enter-active {
  transition: height 0.3s ease-in-out;
  height: var(--el-tree-node-height);
}

.expand-leave-active {
  transition: height 0.3s ease-in-out;
}

.expand-enter-from,
.expand-leave-to {
  height: 0;
}

.expand-enter-to,
.expand-leave-from {
  height: var(--el-tree-node-height);
}